In [8]:
import json
import pandas as pd

In [9]:
tweets = []
for line in open('2018-A/TRECIS-CTIT-H-001.json', 'r'):

     tweets.append(json.loads(line))


df1 = pd.DataFrame(tweets)

In [12]:
df1.get(['text'])

                                                  text
0    #colorado. Told you its #amazing http://t.co/6...
1    RT @northfortynews: Tanker helicopter heads up...
2    #Evacuation center Cache La Poudre Middle Scho...
3    20F degrees cooler tomorrow in North Central &...
4    FEMA has authorized the use of federal funds t...
..                                                 ...
739  Waldo Canyon fire near Colorado Springs reache...
740  Colorado?s Waldo Canyon Fire reaches 98% conta...
741  RT @cnnbrk: Colorado governor lifts statewide ...
742  #SiguemeYTeSigo Colorado governor lifts statew...
743  RT @News1130radio: BC Wildfire Management says...

[744 rows x 1 columns]